<body>
    <div class="header">
        <h1>Memphis Grizzlies Upcoming Schedule</h1>
        <img class="primaryLogo" src="img/wallpaperLogo.jpg" alt="Grizzlies Primary Logo">
    </div>
    <div="menu">
        <ul class="links">
            <li class="menu"><a href="/" style="color:rgb(255,187,34)"> Home</a></li>            
            <li class="menu"><a href="/schedule" style="color:rgb(255,187,34)">Schedule & Results</a></li>
            <li class="menu"><a href="/rookies" style="color: rgb(255,187,34)">Meet the Rookies</a></li>
            <li class="menu"><a href="/facts" style="color:rgb(255,187,34)">Franchise Facts</a></li>
            <li class="menu"><a href="http://www.nba.com/teams/grizzlies" style="color:rgb(255,187,34)"> NBA.com Grizzlies Page</a></li>
            <li class="menu"><a href="/subscribe" style="color:rgb(255,187,34)"> Subscribe </a></li>
        </ul>
    </div>
    <br> <br> 
    <div>
        <div class="facts">
            <h3>Fast Facts about the Memphis Grizzlies</h3>
            <ul>
                <li>The Grizzlies franchise started in 1995 as the Vancouver Grizzlies</li>
                <li>The Grizzlies moved to Memphis in 2001</li>
                <li>Since moving to Memphis in 2001, the Grizzlies have made the playoffs 10 times, including the western
                    conference finals in 2013</li>
                <li>Best regular season record was 56-26 (.683%) in 2012-13</li>
                <li>Worst regular season record was 8-42 (.160%) in the strike-shortened season of 1998-99</li>
                <li>The Grizzlies have been awarded the 2nd overall pick 6 times in their history, but has never
                    selected first overall.
                </li>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/1M7-YHOrNWY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/iebuX9zpA0Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </ul>
        </div>
    </div>
</body>