<body>
    <div class="header">
        <h1>The Official "Unofficial" Home of the Memphis Grizzlies</h1>
        <img class="primaryLogo" src="img/wallpaperLogo.jpg" alt="Grizzlies Primary Logo"> <br>
        <span>Credit: <a href="https://wallpapertag.com/wallpaper/full/8/b/3/759989-full-size-memphis-grizzlies-wallpapers-1920x1080-for-iphone.jpg" style="color:rgb(255,187,34)">wallpapertag.com</a></span>
    </div>
    <div="menu">
        <ul class="links">
            <li class="menu"><a href="img/mediaguide.pdf" download="mediaguide.pdf" style="color:rgb(255,187,34)">Download Media Guide</a></li>
            <li class="menu"><a href="/schedule" style="color:rgb(255,187,34)">Schedule & Results</a></li>
            <li class="menu"><a href="/rookies" style="color: rgb(255,187,34)">Meet the Rookies</a></li>
            <li class="menu"><a href="/facts" style="color:rgb(255,187,34)">Franchise Facts</a></li>
            <li class="menu"><a href="http://www.nba.com/teams/grizzlies" style="color:rgb(255,187,34)"> NBA.com Grizzlies Page</a></li>
            <li class="menu"><a href="/subscribe" style="color:rgb(255,187,34)"> Subscribe </a></li>
        </ul>
    </div>
    <br><br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="img/slideshow1.jpg" alt="Family">
            </div>

            <div class="item">
                <img src="img/slideshow2.jpg" alt="Fedex Forum">
            </div>

            <div class="item">
                <img src="img/slideshow3.jpg" alt="Selfie">
            </div>

            <div class="item">
                <img src="img/slideshow4.jpg" alt="Fedex Forum 2">
            </div>

            <div class="item">
                <img src="img/slideshow5.jpg" alt="Brothers">
            </div>

            <div class="item">
                <img src="img/slideshow6.jpg" alt="Black & White">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
    </div>
  
</body>
