<body>
    <div class="header">
        <h1>Meet the 2019 Draft Class</h1>
        <img class="primaryLogo" src="img/wallpaperLogo.jpg" alt="Grizzlies Primary Logo">
    </div>
    <div="menu">
        <ul class="links">
            <li class="menu"><a href="/" style="color:rgb(255,187,34)"> Home</a></li>            
            <li class="menu"><a href="/schedule" style="color:rgb(255,187,34)">Schedule & Results</a></li>
            <li class="menu"><a href="/rookies" style="color: rgb(255,187,34)">Meet the Rookies</a></li>
            <li class="menu"><a href="/facts" style="color:rgb(255,187,34)">Franchise Facts</a></li>
            <li class="menu"><a href="http://www.nba.com/teams/grizzlies" style="color:rgb(255,187,34)"> NBA.com Grizzlies Page</a></li>
            <li class="menu"><a href="/subscribe" style="color:rgb(255,187,34)"> Subscribe </a></li>
        </ul>
    </div>
    <br> <br>  
    <div>
        <div class="rookie">
            <span>Ja Morant <br></span>
            <img src="img/jaMorant.jpg" alt="Ja Morant Picture">
            <script type="text/javascript" src="//widgets.sports-reference.com/wg.fcgi?css=1&site=bbr&url=%2Fplayers%2Fm%2Fmoranja01.html&div=div_per_game"></script>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8p_9PRgJASw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="rookie"> 
            <span>Brandon Clarke <br></span> 
            <img src="img/brandonClarke.jpg" alt="Brandon Clarke Picture">
            <script type="text/javascript" src="//widgets.sports-reference.com/wg.fcgi?css=1&site=bbr&url=%2Fplayers%2Fc%2Fclarkbr01.html&div=div_per_game"></script>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/5XRiY4twhck" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="rookie">
            <span>Marko Guduric <br></span>
            <img src="img/markoGuduric.jpg" alt="Marko Guduric Picture">
            <script type="text/javascript" src="//widgets.sports-reference.com/wg.fcgi?css=1&site=bbr&url=%2Fplayers%2Fg%2Fgudurma01.html&div=div_per_game"></script>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/sYZcEcFlcLE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>   
</body>