<body>
    <div class="header">
        <h1>Memphis Grizzlies Schedule & Results</h1>
        <img class="primaryLogo" src="img/wallpaperLogo.jpg" alt="Grizzlies Primary Logo">
    </div>
    <div="menu">
        <ul class="links">
            <li class="menu"><a href="/" style="color:rgb(255,187,34)">Home</a></li>            
            <li class="menu"><a href="/schedule" style="color:rgb(255,187,34)">Schedule & Results</a></li>
            <li class="menu"><a href="/rookies" style="color: rgb(255,187,34)">Meet the Rookies</a></li>
            <li class="menu"><a href="/facts" style="color:rgb(255,187,34)">Franchise Facts</a></li>
            <li class="menu"><a href="http://www.nba.com/teams/grizzlies" style="color:rgb(255,187,34)">NBA.com Grizzlies Page</a></li>
            <li class="menu"><a href="/subscribe" style="color:rgb(255,187,34)">Subscribe </a></li>
        </ul>
    </div> 
    <br> <br> 
    <div class="schedule">
        <script type="text/javascript" src="//widgets.sports-reference.com/wg.fcgi?css=1&site=bbr&url=%2Fteams%2FMEM%2F2020_games.html&div=div_games"></script>
    </div>
</body>

