<body>
    <div class="header">
        <h1>Subscribe to our Email List</h1>
        <img class="primaryLogo" src="img/wallpaperLogo.jpg" alt="Grizzlies Primary Logo">
    </div>
    <div="menu">
        <ul class="links">
            <li class="menu"><a href="/" style="color:rgb(255,187,34)"> Home</a></li>            
            <li class="menu"><a href="/schedule" style="color:rgb(255,187,34)">Schedule & Results</a></li>
            <li class="menu"><a href="/rookies" style="color: rgb(255,187,34)">Meet the Rookies</a></li>
            <li class="menu"><a href="/facts" style="color:rgb(255,187,34)">Franchise Facts</a></li>
            <li class="menu"><a href="http://www.nba.com/teams/grizzlies" style="color:rgb(255,187,34)"> NBA.com Grizzlies Page</a></li>
            <li class="menu"><a href="/subscribe" style="color:rgb(255,187,34)"> Subscribe </a></li>
        </ul>
    </div> 
    <br> <br> 
    <div>
        <form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php">
            First Name:<br>
            <input type="text" name="firstname" size="40"><br>
            Last Name:<br>
            <input type="text" name="lastname" size="40"><br>
            Email Address:<br>
            <input type="text" name="email" size="40"><br>
            <input type="submit" name="subscribe" font-color="black">
        </form>
    </div>
</body>

